:root {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #16275c;
  background-color: #f2f5ff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f2f5ff;
  color: inherit;
}

#root {
  min-height: 100vh;
}

a {
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}
